.welcome-card img {
	max-height: 35vh;
	overflow: hidden;
}

.btn {
	position: fixed;
	top: 20%;
	margin-left: 55%;
}

.header-search {
	position: fixed;
}

ion-header ion-toolbar {
	padding-top: 10px;
}

ion-searchbar {
	margin-bottom: 10px;
}

<<<<<<< Updated upstream
ion-item {
	margin-right: 15px;
}


=======
.loading {
	height: 0;
	width: 0;
	padding: 15px;
	border: 6px solid #ccc;
	border-right-color: rgb(21, 13, 138);
	border-radius: 22px;
	-webkit-animation: rotate 1s infinite linear;
	/* left, top and position just for the demo! */
	position: absolute;
	left: 45%;
	top: 45%;
  }
  
  @-webkit-keyframes rotate {
	/* 100% keyframe for  clockwise. 
	   use 0% instead for anticlockwise */
	100% {
	  -webkit-transform: rotate(360deg);
	}
  }
>>>>>>> Stashed changes
