<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Restaurantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-item class="line">
    <ion-searchbar placeholder="Pesquisar" [(ngModel)]="searchText"></ion-searchbar>
  </ion-item>
</ion-toolbar>

<ion-content>
  <ng-container *ngIf="restaurants$ | async as restaurantes; else loading">
    <app-restaurant *ngFor="let restaurant of restaurantes | search : searchText" [restaurant]="restaurant">
    </app-restaurant>
  </ng-container>
  <ng-template #loading>
      <div *ngIf="error$ | async; else loadingError">
          <h1>Erro com o servidor</h1>
        </div>
        <ng-template #loadingError>
            <div class="loading"></div>
        </ng-template>
  </ng-template>
</ion-content>