<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Restaurantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-item class="line">
    <ion-searchbar [(ngModel)]="searchText"></ion-searchbar>
  </ion-item>
</ion-toolbar>

<ion-content>
  <ng-container *ngIf="restaurants | async as restaurantes; else elseTemplate">
    <div *ngFor="let restaurant of restaurantes | search : searchText">
      <app-restaurant [restaurant]="restaurant"></app-restaurant>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <div id="loading"></div>
  </ng-template>
</ion-content>