<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="lista">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>Lista Restaurante</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cadastro">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Cadastro Restaurante</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="random">
      <ion-icon name="star"></ion-icon>
      <ion-label>Random</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>