<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Descubra
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text-center">
    <ion-label>
      Não sabe onde almoçar? <br>
      Podemos ajudar!
    </ion-label>
  </div>
  <div text-center>
    <h1>{{restaurantChoiced}}</h1>   
  </div>
  <div class="button-position">
    <ion-button (click)="randomPlace()" [disabled]="!valid" class="random-button" shape="round"> Buscar
    </ion-button>
  </div>
</ion-content>