.text-center {
    position: relative;
    margin-top: 50px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;

    .restaurant-choiced {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        font-size: 28px;
        margin: 20px auto 0;
        border-radius: 1px;
    }
}

.button-position {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .random-button  {
        height: 160px;
        width: 160px;
        padding: 30px;
        margin: 10px;
    }
}

ion-icon {
    font-size: 200px;
}

ion-header ion-toolbar {
	padding-top: 10px;
}